* {
    margin: auto;
    padding: 0;
    width: 100%;
}

html {
    scrollbar-width: thin;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    /* ... reste de ton code ... */
}

body {
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    border-bottom: solid 0.5px;
    border-image-source: linear-gradient(to left, #ffffff, #2e5a4d);
    border-image-slice: 1;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom-left-radius: 100px;
}

header.en_tete {
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    padding-left: 20px;
    justify-content: center;
}

main h1 {
    text-align: left;
    margin-left: 200px;
    color: #95C7EA;
    font-weight: bold;
    animation: showpage1 1s ease-in-out;
    font-weight: 800;
    letter-spacing: -0.02em;
    font-size: 55px;
    margin-top: -21px;
    filter: drop-shadow(2px 1px 6px black);
    /* Pour cet effet compact et moderne */
}

.xt_1 {
    animation: showpage1 800ms ease-in-out;
}

.xt_2 {
    animation: showpage1 500ms ease-in-out;
}

header img {
    height: 50px;
    width: 50px;
    position: absolute;
    transition: 500ms ease-in-out;
    margin-top: -26px;
    border-radius: 50px;
}

header img:hover {
    background-color: white;
}

main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-top-left-radius: 100px;
    margin-bottom: 20px;
}

main img.team {
    position: absolute;
    height: 200px;
    object-fit: fill;
    z-index: 1;
    margin-left: 7cm;
    margin-top: 7cm;
    width: 200px;
    filter: opacity(1);
}

main img.back {
    position: absolute;
    height: 300px;
    object-fit: cover;
    z-index: -1;
    margin-top: -2.2cm;
    filter: opacity(0, 9);
}

section.initiation p {
    margin-top: 30px;
    margin-right: 20px;
    text-align: left;
    color: #0D0F34;
    width: 40%;
    background: linear-gradient(90deg, #FFFFFF 20%, #95C7EA 100%);
    border-radius: 30px;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
}

section.initiation p.membre {
    text-align: center;
    font-size: 20px;
    float: left;
    transition: 1s ease-in-out;
    animation: showpage 500ms ease-in-out;
}

main section.container a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #0D0F34;
    box-shadow: -3px 12px 32px -14px rgba(0, 0, 0, 0.89);
    transition: 500ms ease-out;
}

section.container div:hover {
    background-color: #dee5ff;
}

main div.item a:hover {
    transform: translateY(-4px);
    background-color: #787ddb;
    color: #0D0F34;
}

section.container {
    display: grid;
    height: 695px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(2, 0, 128) rgba(255, 255, 255, 0);
    scroll-snap-type: y mandatory;
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
    font-weight: bold;
    column-gap: 80px;
    row-gap: 40px;
}

section.container div {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 300px;
    padding: 10px;
    scroll-snap-align: start;
    justify-self: center;
    background-color: #95C7EA;
    animation-iteration-count: infinite;
    border-radius: 20px;
    transition-property: initial;
    transition: 400ms ease-in;
    animation: slide_move 500ms ease;
}

@keyframes slide_move {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

div.item a {
    text-align: center;
    width: 80%;
    padding: 10px;
    margin-top: -1px;
}

div.item p {
    visibility: visible;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #0D0F34;
    padding: 5px;
    border-radius: 0 20px;
    transition: visibility 200ms ease-in-out;
    animation: showpage1 1s ease-in-out;
}

div.item img {
    height: 130px;
    width: 130px;
    border: solid 0.3mm #787ddb;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -3px 12px 32px -14px rgba(0, 0, 0, 0.89);
    -webkit-box-shadow: -3px 12px 32px -14px rgba(0, 0, 0, 0.89);
    -moz-box-shadow: -3px 12px 32px -14px rgba(0, 0, 0, 0.89);
}

div.item1 img {
    height: 120px;
    object-fit: contain;
    width: 120px;
    border-radius: 50% 50% 80% 50%;
    animation: showpage 1s ease-in-out;
}

div.item2 img {
    animation: showpage 900ms ease-in-out;
}

main.main {
    background-color: rgb(229, 238, 243);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-right: 20px;
    justify-content: center;
}

section.presentation {
    display: grid;
    position: relative;
    grid-template-rows: 320px 200px;
    justify-content: center;
    color: white;
}

section.presentation img.chris {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 50% 50% 80% 50%;
    grid-row: 1/3;
}

section.presentation img {
    width: 20px;
    height: 20px;
    background-color: #95C7EA;
    border-radius: 10px;
    padding: 5px;
    animation: showpage 1s ease-in-out;
}

section.presentation img.im {
    background-color: #787ddb;
}

div.contact a {
    width: 20px;
}

section.propos {
    width: 60%;
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    border-left: solid 0.5px #787ddb;
    padding-left: 20px;
    color: rgba(139, 202, 238, 0.89);
}

section.presentation img.aime {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    background-color: none;
    grid-row: 1/3;
}

section.presentation img.felice {
    object-fit: cover;
    height: 300px;
    width: 300px;
}

div.contact {
    display: flex;
    margin-left: 9cm;
    width: 50%;
    flex-direction: row;
}

div.contact1 {
    display: flex;
    margin-left: 9cm;
    width: 50%;
    gap: 5px;
    flex-direction: row;
}

div.contact img,
div.contact1 img {
    transition: 600ms ease-in-out;
}

div.contact1 img:hover {
    transform: translateY(-2px);
}

div.contact img:hover {
    transform: translateY(-2px);
    background-color: #95C7EA;
}

footer {
    border-top: solid 0.5px;
    border-image-source: linear-gradient(to left, #ffffff, #2e5a4d);
    border-image-slice: 1;
    color: #0D0F34;
    text-align: center;
    bottom: 0;
    padding: 10px 0;
    border-top-right-radius: 100px;
}

footer img {
    width: 150px;
    margin-bottom: 15px;
}

footer div {
    margin-left: 10px;
    margin-bottom: 20px;
}

footer h3 {
    color: #95C7EA;
    position: relative;
    text-align: center;
    font-weight: bolder;
}

footer h3::before {
    content: ' ';
    position: absolute;
    width: 70px;
    height: 1mm;
    margin-top: 23px;
    background: #0D0F34;
}

footer a {
    text-decoration: none;
    color: #0D0F34;
    transition: 600ms ease;
}

footer a:hover {
    color: #95C7EA;
}

footer li {
    color: #0D0F34;
    text-align: left;
    margin-left: 37%;
}

footer p {
    margin-top: 5px;
    margin-bottom: -11px;
}

@keyframes showpage {
    0% {
        opacity: 0;
        transform: translateX(-20px) translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes showpage1 {
    0% {
        opacity: 0;
        transform: translateX(20px) translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@media (max-width: 860px) {
    section.container {
        width: 98%;
        column-gap: 15px;
    }

    section.container div {
        width: 290px;
    }

    main.main {
        flex-direction: column;
        padding-bottom: 30px;
    }

    main img.team {
        margin-left: 20px;
        margin-top: 6cm;
        height: 150px;
    }

    section.initiation p {
        width: 65%;
        font-size: 27px;
    }

    section.presentation img.felice {
        object-fit: cover;
        height: 300px;
        width: 300px;
    }

    div.contact {
        margin-left: 26%;
        gap: 5px;
        margin-top: -54px;
    }
}

@media (max-width: 760px) {
    html {
        width: 100%;
    }

    body {
        overflow-x: hidden;
        height: 100%;
    }

    main h1 {
        font-size: 43px;
        margin-left: 20px;
    }

    header h1.nom {
        font-size: 20px;
        font-weight: bolder;
    }

    main img.team {
        height: 61px;
        margin-top: 10cm;
        margin-left: -1cm;
    }

    main {
        flex: 1;
    }

    main.main {
        flex-direction: column;
    }

    section.initiation p {
        color: rgb(47, 41, 102);
        font-size: medium;
        width: 90%;
    }

    section.container {
        display: flex;
        height: min-content;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    section.container div {
        width: 70%;
        height: auto;
    }

    div.item img {
        height: 150px;
        width: 150px;
    }

    section.presentation {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    section.presentation img.chris {
        width: 60%;
        height: auto;
        grid-row: auto;
    }

    section.presentation img.aime {
        height: 400px;
    }

    section.presentation img.felice {
        object-fit: cover;
        height: 300px;
        width: 300px;
    }

    div.contact {
        grid-column: auto;
        text-align: center;
        margin-left: 27%;
        margin-top: -33px;
    }

    div.contact1 {
        grid-column: auto;
        text-align: center;
        margin-left: 27%;
        color: #0D0F34;
    }


    section.propos {
        font-size: 19px;
        margin-top: -5cm;
        margin-bottom: 50px;
        color: #2a2b31;
        width: 70%;
    }

    div.social {
        grid-column: auto;
        text-align: center;
    }

    footer li {
        text-align: left;
        margin-top: 2px;
        margin-left: 0;
    }
}
