* {
    margin: auto;
    padding: 0;
    width: 100%;
}

body {
    background-color: rgb(167, 191, 218);
}

section.container {
    display: grid;
    grid-template-columns: 100px;
    justify-content: center;
}

section.container div {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-self: center;
    gap: 0;
}

div.item1 img {
    height: 100px;
    object-fit: contain;
    width: 100px;
    border-radius: 50% 50% 80% 50%;
}