* {
    margin: auto;
    padding: 0;
    width: 100%;
}

body {
    background-color: rgb(24, 25, 43);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    background-color: rgba(73, 5, 150, 0.664);
    color: white;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 20px;
}

main {
    flex: 1;
}

section.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
}

section.container div {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-self: center;
    gap: 0;
}

div.item a {
    text-align: center;
}

div.item p {
    visibility: hidden;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}

div.item:hover>p {
    visibility: visible;
}
div.item img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
div.item1 img {
    height: 200px;
    object-fit: contain;
    width: 200px;
    border-radius: 50% 50% 80% 50%;
}


section.presentation {
    display: grid;
    grid-template-columns: 200px 100px;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    color: white;
}

section.presentation img.chris {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 50% 50% 80% 50%;
}

section.presentation img {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}
section.presentation img.aime {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background-color: none;
}
    
footer {
    background-color: rgba(73, 5, 150, 0.664);
    color: white;
    text-align: center;

}